# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/node_modules
/**/.pnp
.pnp.js

# testing
/front/coverage

# production
/front/build

# misc
/**/.DS_Store
/**/.env
/**/.env.local
/**/.env.development.local
/**/.env.test.local
/**/.env.production.local
/**/.env.backup
/**/.env.production

/**/npm-debug.log*
/**/yarn-debug.log*
/**/yarn-error.log*

/back/public/build
/back/public/hot
/back/public/storage
/back/storage/*.key
/back/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
/**/.fleet
/**/.idea
/**/.vscode
