*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.full-size{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.child-full-size{
    height: 100%;
    width: 100%;
}